{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com",
      "x-twitter": "youtube"
    },
    "description": "Manipulates events and other calendar data.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Calendar API",
    "version": "v3",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-apisguru-categories": [
      "analytics",
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
    },
    "x-origin": [
      {
        "format": "google",
        "url": "https://calendar-json.googleapis.com/$discovery/rest?version=v3",
        "version": "v1"
      }
    ],
    "x-providerName": "googleapis.com",
    "x-serviceName": "calendar",
    "x-vendored-from": "https://api.apis.guru/v2/specs/googleapis.com/calendar/v3/openapi.json",
    "x-vendored-note": "Trimmed by src/providers/google/specs/vendor.ts. Committed deliberately: a spec decides which paths are called with the operator token, so it must be reviewable rather than fetched at connect time."
  },
  "servers": [
    {
      "url": "https://www.googleapis.com/calendar/v3"
    }
  ],
  "paths": {
    "/calendars/{calendarId}/events": {
      "get": {
        "description": "Returns events on the specified calendar.",
        "operationId": "calendar.events.list",
        "parameters": [
          {
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "in": "path",
            "name": "calendarId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
            "in": "query",
            "name": "alwaysIncludeEmail",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Event types to return. Optional. Possible values are: \n- \"default\" \n- \"focusTime\" \n- \"outOfOffice\"This parameter can be repeated multiple times to return events of different types. Currently, this is the only allowed value for this field: \n- [\"default\", \"focusTime\", \"outOfOffice\"] This value will be the default.\n\nIf you're enrolled in the Working Location developer preview program, in addition to the default value above you can also set the \"workingLocation\" event type: \n- [\"default\", \"focusTime\", \"outOfOffice\", \"workingLocation\"] \n- [\"workingLocation\"] Additional combinations of these 4 event types will be made available in later releases. Developer Preview.",
            "explode": true,
            "in": "query",
            "name": "eventTypes",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID.",
            "in": "query",
            "name": "iCalUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "in": "query",
            "name": "maxAttendees",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
            "in": "query",
            "name": "orderBy",
            "schema": {
              "enum": [
                "startTime",
                "updated"
              ],
              "type": "string"
            }
          },
          {
            "description": "Token specifying which result page to return. Optional.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
            "explode": true,
            "in": "query",
            "name": "privateExtendedProperty",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Free text search terms to find events that match these terms in the following fields: summary, description, location, attendee's displayName, attendee's email. Optional.",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
            "explode": true,
            "in": "query",
            "name": "sharedExtendedProperty",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
            "in": "query",
            "name": "showDeleted",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
            "in": "query",
            "name": "showHiddenInvitations",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
            "in": "query",
            "name": "singleEvents",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "in": "query",
            "name": "syncToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
            "in": "query",
            "name": "timeMax",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax.",
            "in": "query",
            "name": "timeMin",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
            "in": "query",
            "name": "timeZone",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
            "in": "query",
            "name": "updatedMin",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar.events"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar.events"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar.events.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar.events.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "post": {
        "description": "Creates an event.",
        "operationId": "calendar.events.insert",
        "parameters": [
          {
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "in": "path",
            "name": "calendarId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
            "in": "query",
            "name": "conferenceDataVersion",
            "schema": {
              "maximum": 1,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "in": "query",
            "name": "maxAttendees",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false.",
            "in": "query",
            "name": "sendNotifications",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false.",
            "in": "query",
            "name": "sendUpdates",
            "schema": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
            "in": "query",
            "name": "supportsAttachments",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar.events"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar.events"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      }
    },
    "/calendars/{calendarId}/events/{eventId}": {
      "delete": {
        "description": "Deletes an event.",
        "operationId": "calendar.events.delete",
        "parameters": [
          {
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "in": "path",
            "name": "calendarId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the deletion of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
            "in": "query",
            "name": "sendNotifications",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Guests who should receive notifications about the deletion of the event.",
            "in": "query",
            "name": "sendUpdates",
            "schema": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar.events"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar.events"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "get": {
        "description": "Returns an event based on its Google Calendar ID. To retrieve an event using its iCalendar ID, call the events.list method using the iCalUID parameter.",
        "operationId": "calendar.events.get",
        "parameters": [
          {
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "in": "path",
            "name": "calendarId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
            "in": "query",
            "name": "alwaysIncludeEmail",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "in": "query",
            "name": "maxAttendees",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
            "in": "query",
            "name": "timeZone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar.events"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar.events"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar.events.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar.events.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "patch": {
        "description": "Updates an event. This method supports patch semantics.",
        "operationId": "calendar.events.patch",
        "parameters": [
          {
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "in": "path",
            "name": "calendarId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
            "in": "query",
            "name": "alwaysIncludeEmail",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
            "in": "query",
            "name": "conferenceDataVersion",
            "schema": {
              "maximum": 1,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "in": "query",
            "name": "maxAttendees",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
            "in": "query",
            "name": "sendNotifications",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
            "in": "query",
            "name": "sendUpdates",
            "schema": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
            "in": "query",
            "name": "supportsAttachments",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar.events"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar.events"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      }
    },
    "/calendars/{calendarId}/events/{eventId}/instances": {
      "get": {
        "description": "Returns instances of the specified recurring event.",
        "operationId": "calendar.events.instances",
        "parameters": [
          {
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "in": "path",
            "name": "calendarId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Recurring event identifier.",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
            "in": "query",
            "name": "alwaysIncludeEmail",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "in": "query",
            "name": "maxAttendees",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The original start time of the instance in the result. Optional.",
            "in": "query",
            "name": "originalStart",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Token specifying which result page to return. Optional.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.",
            "in": "query",
            "name": "showDeleted",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset.",
            "in": "query",
            "name": "timeMax",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset.",
            "in": "query",
            "name": "timeMin",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
            "in": "query",
            "name": "timeZone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar.events"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar.events"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar.events.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar.events.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/calendars/{calendarId}/events/{eventId}/move": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "post": {
        "description": "Moves an event to another calendar, i.e. changes an event's organizer.",
        "operationId": "calendar.events.move",
        "parameters": [
          {
            "description": "Calendar identifier of the source calendar where the event currently is on.",
            "in": "path",
            "name": "calendarId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Calendar identifier of the target calendar where the event is to be moved to.",
            "in": "query",
            "name": "destination",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the change of the event's organizer. Note that some emails might still be sent even if you set the value to false. The default is false.",
            "in": "query",
            "name": "sendNotifications",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Guests who should receive notifications about the change of the event's organizer.",
            "in": "query",
            "name": "sendUpdates",
            "schema": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar.events"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar.events"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      }
    },
    "/freeBusy": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "post": {
        "description": "Returns free/busy information for a set of calendars.",
        "operationId": "calendar.freebusy.query",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeBusyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "freebusy"
        ]
      }
    },
    "/users/me/calendarList": {
      "get": {
        "description": "Returns the calendars on the user's calendar list.",
        "operationId": "calendar.calendarList.list",
        "parameters": [
          {
            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
            "in": "query",
            "name": "minAccessRole",
            "schema": {
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ],
              "type": "string"
            }
          },
          {
            "description": "Token specifying which result page to return. Optional.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
            "in": "query",
            "name": "showDeleted",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether to show hidden entries. Optional. The default is False.",
            "in": "query",
            "name": "showHidden",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "in": "query",
            "name": "syncToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "calendarList"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    }
  },
  "components": {
    "parameters": {
      "alt": {
        "description": "Data format for the response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "enum": [
            "json"
          ],
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      },
      "userIp": {
        "description": "Deprecated. Please use quotaUser instead.",
        "in": "query",
        "name": "userIp",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ConferenceData": {
        "properties": {
          "conferenceId": {
            "description": "The ID of the conference.\nCan be used by developers to keep track of conferences, should not be displayed to users.\nThe ID value is formed differently for each conference solution type:  \n- eventHangout: ID is not set. (This conference type is deprecated.)\n- eventNamedHangout: ID is the name of the Hangout. (This conference type is deprecated.)\n- hangoutsMeet: ID is the 10-letter meeting code, for example aaa-bbbb-ccc.\n- addOn: ID is defined by the third-party provider.  Optional.",
            "type": "string"
          },
          "conferenceSolution": {
            "$ref": "#/components/schemas/ConferenceSolution",
            "description": "The conference solution, such as Google Meet.\nUnset for a conference with a failed create request.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
          },
          "createRequest": {
            "$ref": "#/components/schemas/CreateConferenceRequest",
            "description": "A request to generate a new conference and attach it to the event. The data is generated asynchronously. To see whether the data is present check the status field.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
          },
          "entryPoints": {
            "description": "Information about individual conference entry points, such as URLs or phone numbers.\nAll of them must belong to the same conference.\nEither conferenceSolution and at least one entryPoint, or createRequest is required.",
            "items": {
              "$ref": "#/components/schemas/EntryPoint"
            },
            "type": "array"
          },
          "notes": {
            "description": "Additional notes (such as instructions from the domain administrator, legal notices) to display to the user. Can contain HTML. The maximum length is 2048 characters. Optional.",
            "type": "string"
          },
          "parameters": {
            "$ref": "#/components/schemas/ConferenceParameters",
            "description": "Additional properties related to a conference. An example would be a solution-specific setting for enabling video streaming."
          },
          "signature": {
            "description": "The signature of the conference data.\nGenerated on server side.\nUnset for a conference with a failed create request.\nOptional for a conference with a pending create request.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ConferenceParameters": {
        "properties": {
          "addOnParameters": {
            "$ref": "#/components/schemas/ConferenceParametersAddOnParameters",
            "description": "Additional add-on specific data."
          }
        },
        "type": "object"
      },
      "ConferenceParametersAddOnParameters": {
        "properties": {
          "parameters": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "ConferenceRequestStatus": {
        "properties": {
          "statusCode": {
            "description": "The current status of the conference create request. Read-only.\nThe possible values are:  \n- \"pending\": the conference create request is still being processed.\n- \"success\": the conference create request succeeded, the entry points are populated.\n- \"failure\": the conference create request failed, there are no entry points.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ConferenceSolution": {
        "properties": {
          "iconUri": {
            "description": "The user-visible icon for this solution.",
            "type": "string"
          },
          "key": {
            "$ref": "#/components/schemas/ConferenceSolutionKey",
            "description": "The key which can uniquely identify the conference solution for this event."
          },
          "name": {
            "description": "The user-visible name of this solution. Not localized.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ConferenceSolutionKey": {
        "properties": {
          "type": {
            "description": "The conference solution type.\nIf a client encounters an unfamiliar or empty type, it should still be able to display the entry points. However, it should disallow modifications.\nThe possible values are:  \n- \"eventHangout\" for Hangouts for consumers (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"eventNamedHangout\" for classic Hangouts for Google Workspace users (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"hangoutsMeet\" for Google Meet (http://meet.google.com)\n- \"addOn\" for 3P conference providers",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateConferenceRequest": {
        "properties": {
          "conferenceSolutionKey": {
            "$ref": "#/components/schemas/ConferenceSolutionKey",
            "description": "The conference solution, such as Hangouts or Google Meet."
          },
          "requestId": {
            "description": "The client-generated unique ID for this request.\nClients should regenerate this ID for every new request. If an ID provided is the same as for the previous request, the request is ignored.",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ConferenceRequestStatus",
            "description": "The status of the conference create request."
          }
        },
        "type": "object"
      },
      "EntryPoint": {
        "properties": {
          "accessCode": {
            "description": "The access code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
            "type": "string"
          },
          "entryPointFeatures": {
            "description": "Features of the entry point, such as being toll or toll-free. One entry point can have multiple features. However, toll and toll-free cannot be both set on the same entry point.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "entryPointType": {
            "description": "The type of the conference entry point.\nPossible values are:  \n- \"video\" - joining a conference over HTTP. A conference can have zero or one video entry point.\n- \"phone\" - joining a conference by dialing a phone number. A conference can have zero or more phone entry points.\n- \"sip\" - joining a conference over SIP. A conference can have zero or one sip entry point.\n- \"more\" - further conference joining instructions, for example additional phone numbers. A conference can have zero or one more entry point. A conference with only a more entry point is not a valid conference.",
            "type": "string"
          },
          "label": {
            "description": "The label for the URI. Visible to end users. Not localized. The maximum length is 512 characters.\nExamples:  \n- for video: meet.google.com/aaa-bbbb-ccc\n- for phone: +1 123 268 2601\n- for sip: 12345678@altostrat.com\n- for more: should not be filled  \nOptional.",
            "type": "string"
          },
          "meetingCode": {
            "description": "The meeting code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
            "type": "string"
          },
          "passcode": {
            "description": "The passcode to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.",
            "type": "string"
          },
          "password": {
            "description": "The password to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
            "type": "string"
          },
          "pin": {
            "description": "The PIN to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
            "type": "string"
          },
          "regionCode": {
            "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. Example: \"SE\" for Sweden.\nCalendar backend will populate this field only for EntryPointType.PHONE.",
            "type": "string"
          },
          "uri": {
            "description": "The URI of the entry point. The maximum length is 1300 characters.\nFormat:  \n- for video, http: or https: schema is required.\n- for phone, tel: schema is required. The URI should include the entire dial sequence (e.g., tel:+12345678900,,,123456789;1234).\n- for sip, sip: schema is required, e.g., sip:12345678@myprovider.com.\n- for more, http: or https: schema is required.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Event": {
        "properties": {
          "anyoneCanAddSelf": {
            "default": false,
            "description": "Whether anyone can invite themselves to the event (deprecated). Optional. The default is False.",
            "type": "boolean"
          },
          "attachments": {
            "description": "File attachments for the event.\nIn order to modify attachments the supportsAttachments request parameter should be set to true.\nThere can be at most 25 attachments per event,",
            "items": {
              "$ref": "#/components/schemas/EventAttachment"
            },
            "type": "array"
          },
          "attendees": {
            "description": "The attendees of the event. See the Events with attendees guide for more information on scheduling events with other calendar users. Service accounts need to use domain-wide delegation of authority to populate the attendee list.",
            "items": {
              "$ref": "#/components/schemas/EventAttendee"
            },
            "type": "array"
          },
          "attendeesOmitted": {
            "default": false,
            "description": "Whether attendees may have been omitted from the event's representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant's response. Optional. The default is False.",
            "type": "boolean"
          },
          "colorId": {
            "description": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional.",
            "type": "string"
          },
          "conferenceData": {
            "$ref": "#/components/schemas/ConferenceData",
            "description": "The conference-related information, such as details of a Google Meet conference. To create new conference details use the createRequest field. To persist your changes, remember to set the conferenceDataVersion request parameter to 1 for all event modification requests."
          },
          "created": {
            "description": "Creation time of the event (as a RFC3339 timestamp). Read-only.",
            "format": "date-time",
            "type": "string"
          },
          "creator": {
            "description": "The creator of the event. Read-only.",
            "properties": {
              "displayName": {
                "description": "The creator's name, if available.",
                "type": "string"
              },
              "email": {
                "description": "The creator's email address, if available.",
                "type": "string"
              },
              "id": {
                "description": "The creator's Profile ID, if available.",
                "type": "string"
              },
              "self": {
                "default": false,
                "description": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "description": {
            "description": "Description of the event. Can contain HTML. Optional.",
            "type": "string"
          },
          "end": {
            "$ref": "#/components/schemas/EventDateTime",
            "description": "The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance."
          },
          "endTimeUnspecified": {
            "default": false,
            "description": "Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False.",
            "type": "boolean"
          },
          "etag": {
            "description": "ETag of the resource.",
            "type": "string"
          },
          "eventType": {
            "default": "default",
            "description": "Specific type of the event. Read-only. Possible values are:  \n- \"default\" - A regular event or not further specified. \n- \"outOfOffice\" - An out-of-office event. \n- \"focusTime\" - A focus-time event. \n- \"workingLocation\" - A working location event. Developer Preview.",
            "type": "string"
          },
          "extendedProperties": {
            "description": "Extended properties of the event.",
            "properties": {
              "private": {
                "additionalProperties": {
                  "description": "The name of the private property and the corresponding value.",
                  "type": "string"
                },
                "description": "Properties that are private to the copy of the event that appears on this calendar.",
                "type": "object"
              },
              "shared": {
                "additionalProperties": {
                  "description": "The name of the shared property and the corresponding value.",
                  "type": "string"
                },
                "description": "Properties that are shared between copies of the event on other attendees' calendars.",
                "type": "object"
              }
            },
            "type": "object"
          },
          "gadget": {
            "description": "A gadget that extends this event. Gadgets are deprecated; this structure is instead only used for returning birthday calendar metadata.",
            "properties": {
              "display": {
                "description": "The gadget's display mode. Deprecated. Possible values are:  \n- \"icon\" - The gadget displays next to the event's title in the calendar view. \n- \"chip\" - The gadget displays when the event is clicked.",
                "type": "string"
              },
              "height": {
                "description": "The gadget's height in pixels. The height must be an integer greater than 0. Optional. Deprecated.",
                "format": "int32",
                "type": "integer"
              },
              "iconLink": {
                "description": "The gadget's icon URL. The URL scheme must be HTTPS. Deprecated.",
                "type": "string"
              },
              "link": {
                "description": "The gadget's URL. The URL scheme must be HTTPS. Deprecated.",
                "type": "string"
              },
              "preferences": {
                "additionalProperties": {
                  "description": "The preference name and corresponding value.",
                  "type": "string"
                },
                "description": "Preferences.",
                "type": "object"
              },
              "title": {
                "description": "The gadget's title. Deprecated.",
                "type": "string"
              },
              "type": {
                "description": "The gadget's type. Deprecated.",
                "type": "string"
              },
              "width": {
                "description": "The gadget's width in pixels. The width must be an integer greater than 0. Optional. Deprecated.",
                "format": "int32",
                "type": "integer"
              }
            },
            "type": "object"
          },
          "guestsCanInviteOthers": {
            "default": true,
            "description": "Whether attendees other than the organizer can invite others to the event. Optional. The default is True.",
            "type": "boolean"
          },
          "guestsCanModify": {
            "default": false,
            "description": "Whether attendees other than the organizer can modify the event. Optional. The default is False.",
            "type": "boolean"
          },
          "guestsCanSeeOtherGuests": {
            "default": true,
            "description": "Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True.",
            "type": "boolean"
          },
          "hangoutLink": {
            "description": "An absolute link to the Google Hangout associated with this event. Read-only.",
            "type": "string"
          },
          "htmlLink": {
            "description": "An absolute link to this event in the Google Calendar Web UI. Read-only.",
            "type": "string"
          },
          "iCalUID": {
            "description": "Event unique identifier as defined in RFC5545. It is used to uniquely identify events accross calendaring systems and must be supplied when importing events via the import method.\nNote that the iCalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same iCalUIDs. To retrieve an event using its iCalUID, call the events.list method using the iCalUID parameter. To retrieve an event using its id, call the events.get method.",
            "type": "string"
          },
          "id": {
            "description": "Opaque identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:  \n- characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in RFC2938 \n- the length of the ID must be between 5 and 1024 characters \n- the ID must be unique per calendar  Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in RFC4122.\nIf you do not specify an ID, it will be automatically generated by the server.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs.",
            "type": "string"
          },
          "kind": {
            "default": "calendar#event",
            "description": "Type of the resource (\"calendar#event\").",
            "type": "string"
          },
          "location": {
            "description": "Geographic location of the event as free-form text. Optional.",
            "type": "string"
          },
          "locked": {
            "default": false,
            "description": "Whether this is a locked event copy where no changes can be made to the main event fields \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\". The default is False. Read-Only.",
            "type": "boolean"
          },
          "organizer": {
            "description": "The organizer of the event. If the organizer is also an attendee, this is indicated with a separate entry in attendees with the organizer field set to True. To change the organizer, use the move operation. Read-only, except when importing an event.",
            "properties": {
              "displayName": {
                "description": "The organizer's name, if available.",
                "type": "string"
              },
              "email": {
                "description": "The organizer's email address, if available. It must be a valid email address as per RFC5322.",
                "type": "string"
              },
              "id": {
                "description": "The organizer's Profile ID, if available.",
                "type": "string"
              },
              "self": {
                "default": false,
                "description": "Whether the organizer corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "originalStartTime": {
            "$ref": "#/components/schemas/EventDateTime",
            "description": "For an instance of a recurring event, this is the time at which this event would start according to the recurrence data in the recurring event identified by recurringEventId. It uniquely identifies the instance within the recurring event series even if the instance was moved to a different time. Immutable."
          },
          "privateCopy": {
            "default": false,
            "description": "If set to True, Event propagation is disabled. Note that it is not the same thing as Private event properties. Optional. Immutable. The default is False.",
            "type": "boolean"
          },
          "recurrence": {
            "description": "List of RRULE, EXRULE, RDATE and EXDATE lines for a recurring event, as specified in RFC5545. Note that DTSTART and DTEND lines are not allowed in this field; event start and end times are specified in the start and end fields. This field is omitted for single events or instances of recurring events.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "recurringEventId": {
            "description": "For an instance of a recurring event, this is the id of the recurring event to which this instance belongs. Immutable.",
            "type": "string"
          },
          "reminders": {
            "description": "Information about the event's reminders for the authenticated user.",
            "properties": {
              "overrides": {
                "description": "If the event doesn't use the default reminders, this lists the reminders specific to the event, or, if not set, indicates that no reminders are set for this event. The maximum number of override reminders is 5.",
                "items": {
                  "$ref": "#/components/schemas/EventReminder"
                },
                "type": "array"
              },
              "useDefault": {
                "description": "Whether the default reminders of the calendar apply to the event.",
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "sequence": {
            "description": "Sequence number as per iCalendar.",
            "format": "int32",
            "type": "integer"
          },
          "source": {
            "description": "Source from which the event was created. For example, a web page, an email message or any document identifiable by an URL with HTTP or HTTPS scheme. Can only be seen or modified by the creator of the event.",
            "properties": {
              "title": {
                "description": "Title of the source; for example a title of a web page or an email subject.",
                "type": "string"
              },
              "url": {
                "description": "URL of the source pointing to a resource. The URL scheme must be HTTP or HTTPS.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "start": {
            "$ref": "#/components/schemas/EventDateTime",
            "description": "The (inclusive) start time of the event. For a recurring event, this is the start time of the first instance."
          },
          "status": {
            "description": "Status of the event. Optional. Possible values are:  \n- \"confirmed\" - The event is confirmed. This is the default status. \n- \"tentative\" - The event is tentatively confirmed. \n- \"cancelled\" - The event is cancelled (deleted). The list method returns cancelled events only on incremental sync (when syncToken or updatedMin are specified) or if the showDeleted flag is set to true. The get method always returns them.\nA cancelled status represents two different states depending on the event type:  \n- Cancelled exceptions of an uncancelled recurring event indicate that this instance should no longer be presented to the user. Clients should store these events for the lifetime of the parent recurring event.\nCancelled exceptions are only guaranteed to have values for the id, recurringEventId and originalStartTime fields populated. The other fields might be empty.  \n- All other cancelled events represent deleted events. Clients should remove their locally synced copies. Such cancelled events will eventually disappear, so do not rely on them being available indefinitely.\nDeleted events are only guaranteed to have the id field populated.   On the organizer's calendar, cancelled events continue to expose event details (summary, location, etc.) so that they can be restored (undeleted). Similarly, the events to which the user was invited and that they manually removed continue to provide details. However, incremental sync requests with showDeleted set to false will not return these details.\nIf an event changes its organizer (for example via the move operation) and the original organizer is not on the attendee list, it will leave behind a cancelled event where only the id field is guaranteed to be populated.",
            "type": "string"
          },
          "summary": {
            "description": "Title of the event.",
            "type": "string"
          },
          "transparency": {
            "default": "opaque",
            "description": "Whether the event blocks time on the calendar. Optional. Possible values are:  \n- \"opaque\" - Default value. The event does block time on the calendar. This is equivalent to setting Show me as to Busy in the Calendar UI. \n- \"transparent\" - The event does not block time on the calendar. This is equivalent to setting Show me as to Available in the Calendar UI.",
            "type": "string"
          },
          "updated": {
            "description": "Last modification time of the event (as a RFC3339 timestamp). Read-only.",
            "format": "date-time",
            "type": "string"
          },
          "visibility": {
            "default": "default",
            "description": "Visibility of the event. Optional. Possible values are:  \n- \"default\" - Uses the default visibility for events on the calendar. This is the default value. \n- \"public\" - The event is public and event details are visible to all readers of the calendar. \n- \"private\" - The event is private and only event attendees may view event details. \n- \"confidential\" - The event is private. This value is provided for compatibility reasons.",
            "type": "string"
          },
          "workingLocationProperties": {
            "$ref": "#/components/schemas/EventWorkingLocationProperties",
            "description": "Developer Preview: Working Location event data. Read-only."
          }
        },
        "type": "object"
      },
      "EventAttachment": {
        "properties": {
          "fileId": {
            "description": "ID of the attached file. Read-only.\nFor Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API.",
            "type": "string"
          },
          "fileUrl": {
            "description": "URL link to the attachment.\nFor adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.\nRequired when adding an attachment.",
            "type": "string"
          },
          "iconLink": {
            "description": "URL link to the attachment's icon. This field can only be modified for custom third-party attachments.",
            "type": "string"
          },
          "mimeType": {
            "description": "Internet media type (MIME type) of the attachment.",
            "type": "string"
          },
          "title": {
            "description": "Attachment title.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "EventAttendee": {
        "properties": {
          "additionalGuests": {
            "default": 0,
            "description": "Number of additional guests. Optional. The default is 0.",
            "format": "int32",
            "type": "integer"
          },
          "comment": {
            "description": "The attendee's response comment. Optional.",
            "type": "string"
          },
          "displayName": {
            "description": "The attendee's name, if available. Optional.",
            "type": "string"
          },
          "email": {
            "description": "The attendee's email address, if available. This field must be present when adding an attendee. It must be a valid email address as per RFC5322.\nRequired when adding an attendee.",
            "type": "string"
          },
          "id": {
            "description": "The attendee's Profile ID, if available.",
            "type": "string"
          },
          "optional": {
            "default": false,
            "description": "Whether this is an optional attendee. Optional. The default is False.",
            "type": "boolean"
          },
          "organizer": {
            "description": "Whether the attendee is the organizer of the event. Read-only. The default is False.",
            "type": "boolean"
          },
          "resource": {
            "default": false,
            "description": "Whether the attendee is a resource. Can only be set when the attendee is added to the event for the first time. Subsequent modifications are ignored. Optional. The default is False.",
            "type": "boolean"
          },
          "responseStatus": {
            "description": "The attendee's response status. Possible values are:  \n- \"needsAction\" - The attendee has not responded to the invitation (recommended for new events). \n- \"declined\" - The attendee has declined the invitation. \n- \"tentative\" - The attendee has tentatively accepted the invitation. \n- \"accepted\" - The attendee has accepted the invitation.  Warning: If you add an event using the values declined, tentative, or accepted, attendees with the \"Add invitations to my calendar\" setting set to \"When I respond to invitation in email\" won't see an event on their calendar unless they choose to change their invitation response in the event invitation email.",
            "type": "string"
          },
          "self": {
            "default": false,
            "description": "Whether this entry represents the calendar on which this copy of the event appears. Read-only. The default is False.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "EventDateTime": {
        "properties": {
          "date": {
            "description": "The date, in the format \"yyyy-mm-dd\", if this is an all-day event.",
            "format": "date",
            "type": "string"
          },
          "dateTime": {
            "description": "The time, as a combined date-time value (formatted according to RFC3339). A time zone offset is required unless a time zone is explicitly specified in timeZone.",
            "format": "date-time",
            "type": "string"
          },
          "timeZone": {
            "description": "The time zone in which the time is specified. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) For recurring events this field is required and specifies the time zone in which the recurrence is expanded. For single events this field is optional and indicates a custom time zone for the event start/end.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "EventReminder": {
        "properties": {
          "method": {
            "description": "The method used by this reminder. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"popup\" - Reminders are sent via a UI popup.  \nRequired when adding a reminder.",
            "type": "string"
          },
          "minutes": {
            "description": "Number of minutes before the start of the event when the reminder should trigger. Valid values are between 0 and 40320 (4 weeks in minutes).\nRequired when adding a reminder.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "EventWorkingLocationProperties": {
        "properties": {
          "customLocation": {
            "description": "If present, specifies that the user is working from a custom location.",
            "properties": {
              "label": {
                "description": "An optional extra label for additional information.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "homeOffice": {
            "description": "If present, specifies that the user is working at home."
          },
          "officeLocation": {
            "description": "If present, specifies that the user is working from an office.",
            "properties": {
              "buildingId": {
                "description": "An optional building identifier. This should reference a building ID in the organization's Resources database.",
                "type": "string"
              },
              "deskId": {
                "description": "An optional arbitrary desk identifier.",
                "type": "string"
              },
              "floorId": {
                "description": "An optional arbitrary floor identifier.",
                "type": "string"
              },
              "floorSectionId": {
                "description": "An optional arbitrary floor section identifier.",
                "type": "string"
              },
              "label": {
                "description": "An optional extra label for additional information.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "FreeBusyRequest": {
        "properties": {
          "calendarExpansionMax": {
            "description": "Maximal number of calendars for which FreeBusy information is to be provided. Optional. Maximum value is 50.",
            "format": "int32",
            "type": "integer"
          },
          "groupExpansionMax": {
            "description": "Maximal number of calendar identifiers to be provided for a single group. Optional. An error is returned for a group with more members than this value. Maximum value is 100.",
            "format": "int32",
            "type": "integer"
          },
          "items": {
            "description": "List of calendars and/or groups to query.",
            "items": {
              "$ref": "#/components/schemas/FreeBusyRequestItem"
            },
            "type": "array"
          },
          "timeMax": {
            "description": "The end of the interval for the query formatted as per RFC3339.",
            "format": "date-time",
            "type": "string"
          },
          "timeMin": {
            "description": "The start of the interval for the query formatted as per RFC3339.",
            "format": "date-time",
            "type": "string"
          },
          "timeZone": {
            "default": "UTC",
            "description": "Time zone used in the response. Optional. The default is UTC.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "FreeBusyRequestItem": {
        "properties": {
          "id": {
            "description": "The identifier of a calendar or a group.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "Oauth2": {
        "description": "Oauth 2.0 implicit authentication",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/calendar": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar",
              "https://www.googleapis.com/auth/calendar.events": "View and edit events on all your calendars",
              "https://www.googleapis.com/auth/calendar.events.readonly": "View events on all your calendars",
              "https://www.googleapis.com/auth/calendar.readonly": "See and download any calendar you can access using your Google Calendar",
              "https://www.googleapis.com/auth/calendar.settings.readonly": "View your Calendar settings"
            }
          }
        },
        "type": "oauth2"
      },
      "Oauth2c": {
        "description": "Oauth 2.0 authorizationCode authentication",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/calendar": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar",
              "https://www.googleapis.com/auth/calendar.events": "View and edit events on all your calendars",
              "https://www.googleapis.com/auth/calendar.events.readonly": "View events on all your calendars",
              "https://www.googleapis.com/auth/calendar.readonly": "See and download any calendar you can access using your Google Calendar",
              "https://www.googleapis.com/auth/calendar.settings.readonly": "View your Calendar settings"
            },
            "tokenUrl": "https://accounts.google.com/o/oauth2/token"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
