{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com",
      "x-twitter": "youtube"
    },
    "description": "Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Drive API",
    "version": "v3",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-apisguru-categories": [
      "analytics",
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/mermade/oas-kit",
          "version": "7.0.4"
        },
        "format": "google",
        "url": "https://www.googleapis.com/discovery/v1/apis/drive/v3/rest",
        "version": "v1"
      }
    ],
    "x-preferred": true,
    "x-providerName": "googleapis.com",
    "x-serviceName": "drive",
    "x-vendored-from": "https://api.apis.guru/v2/specs/googleapis.com/drive/v3/openapi.json",
    "x-vendored-note": "Trimmed by src/providers/google/specs/vendor.ts. Committed deliberately: a spec decides which paths are called with the operator token, so it must be reviewable rather than fetched at connect time."
  },
  "servers": [
    {
      "url": "https://www.googleapis.com/drive/v3"
    }
  ],
  "paths": {
    "/about": {
      "get": {
        "description": "Gets information about the user, the user's Drive, and system capabilities.",
        "operationId": "drive.about.get",
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "about"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/files": {
      "get": {
        "description": "Lists or searches files.",
        "operationId": "drive.files.list",
        "parameters": [
          {
            "description": "Groupings of files to which the query applies. Supported groupings are: 'user' (files created by, opened by, or shared directly with the user), 'drive' (files in the specified shared drive as indicated by the 'driveId'), 'domain' (files shared to the user's domain), and 'allDrives' (A combination of 'user' and 'drive' for all drives where the user is a member). When able, use 'user' or 'drive', instead of 'allDrives', for efficiency.",
            "in": "query",
            "name": "corpora",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The source of files to list. Deprecated: use 'corpora' instead.",
            "in": "query",
            "name": "corpus",
            "schema": {
              "enum": [
                "domain",
                "user"
              ],
              "type": "string"
            }
          },
          {
            "description": "ID of the shared drive to search.",
            "in": "query",
            "name": "driveId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether both My Drive and shared drive items should be included in results.",
            "in": "query",
            "name": "includeItemsFromAllDrives",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A comma-separated list of IDs of labels to include in the labelInfo part of the response.",
            "in": "query",
            "name": "includeLabels",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "in": "query",
            "name": "includePermissionsForView",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Deprecated use includeItemsFromAllDrives instead.",
            "in": "query",
            "name": "includeTeamDriveItems",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A comma-separated list of sort keys. Valid keys are 'createdTime', 'folder', 'modifiedByMeTime', 'modifiedTime', 'name', 'name_natural', 'quotaBytesUsed', 'recency', 'sharedWithMeTime', 'starred', and 'viewedByMeTime'. Each key sorts ascending by default, but may be reversed with the 'desc' modifier. Example usage: ?orderBy=folder,modifiedTime desc,name. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A query for filtering the file results. See the \"Search for Files\" guide for supported syntax.",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'.",
            "in": "query",
            "name": "spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "in": "query",
            "name": "supportsAllDrives",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Deprecated use supportsAllDrives instead.",
            "in": "query",
            "name": "supportsTeamDrives",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Deprecated use driveId instead.",
            "in": "query",
            "name": "teamDriveId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "post": {
        "description": "Creates a file.",
        "operationId": "drive.files.create",
        "parameters": [
          {
            "description": "Deprecated. Creating files in multiple folders is no longer supported.",
            "in": "query",
            "name": "enforceSingleParent",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
            "in": "query",
            "name": "ignoreDefaultVisibility",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A comma-separated list of IDs of labels to include in the labelInfo part of the response.",
            "in": "query",
            "name": "includeLabels",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "in": "query",
            "name": "includePermissionsForView",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
            "in": "query",
            "name": "keepRevisionForever",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
            "in": "query",
            "name": "ocrLanguage",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "in": "query",
            "name": "supportsAllDrives",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Deprecated use supportsAllDrives instead.",
            "in": "query",
            "name": "supportsTeamDrives",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether to use the uploaded content as indexable text.",
            "in": "query",
            "name": "useContentAsIndexableText",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "$ref": "#/components/schemas/File"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      }
    },
    "/files/{fileId}": {
      "get": {
        "description": "Gets a file's metadata or content by ID.",
        "operationId": "drive.files.get",
        "parameters": [
          {
            "description": "The ID of the file.",
            "in": "path",
            "name": "fileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.",
            "in": "query",
            "name": "acknowledgeAbuse",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A comma-separated list of IDs of labels to include in the labelInfo part of the response.",
            "in": "query",
            "name": "includeLabels",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "in": "query",
            "name": "includePermissionsForView",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "in": "query",
            "name": "supportsAllDrives",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Deprecated use supportsAllDrives instead.",
            "in": "query",
            "name": "supportsTeamDrives",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "patch": {
        "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
        "operationId": "drive.files.update",
        "parameters": [
          {
            "description": "The ID of the file.",
            "in": "path",
            "name": "fileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A comma-separated list of parent IDs to add.",
            "in": "query",
            "name": "addParents",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Deprecated. Adding files to multiple folders is no longer supported. Use shortcuts instead.",
            "in": "query",
            "name": "enforceSingleParent",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A comma-separated list of IDs of labels to include in the labelInfo part of the response.",
            "in": "query",
            "name": "includeLabels",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "in": "query",
            "name": "includePermissionsForView",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
            "in": "query",
            "name": "keepRevisionForever",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
            "in": "query",
            "name": "ocrLanguage",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A comma-separated list of parent IDs to remove.",
            "in": "query",
            "name": "removeParents",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "in": "query",
            "name": "supportsAllDrives",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Deprecated use supportsAllDrives instead.",
            "in": "query",
            "name": "supportsTeamDrives",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether to use the uploaded content as indexable text.",
            "in": "query",
            "name": "useContentAsIndexableText",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "$ref": "#/components/schemas/File"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.scripts"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.scripts"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      }
    },
    "/files/{fileId}/copy": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "post": {
        "description": "Creates a copy of a file and applies any requested updates with patch semantics. Folders cannot be copied.",
        "operationId": "drive.files.copy",
        "parameters": [
          {
            "description": "The ID of the file.",
            "in": "path",
            "name": "fileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Deprecated. Copying files into multiple folders is no longer supported. Use shortcuts instead.",
            "in": "query",
            "name": "enforceSingleParent",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
            "in": "query",
            "name": "ignoreDefaultVisibility",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A comma-separated list of IDs of labels to include in the labelInfo part of the response.",
            "in": "query",
            "name": "includeLabels",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "in": "query",
            "name": "includePermissionsForView",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
            "in": "query",
            "name": "keepRevisionForever",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
            "in": "query",
            "name": "ocrLanguage",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "in": "query",
            "name": "supportsAllDrives",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Deprecated use supportsAllDrives instead.",
            "in": "query",
            "name": "supportsTeamDrives",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/File"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      }
    },
    "/files/{fileId}/export": {
      "get": {
        "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB.",
        "operationId": "drive.files.export",
        "parameters": [
          {
            "description": "The ID of the file.",
            "in": "path",
            "name": "fileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The MIME type of the format requested for this export.",
            "in": "query",
            "name": "mimeType",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/permissions": {
      "get": {
        "description": "Lists a file's or shared drive's permissions.",
        "operationId": "drive.permissions.list",
        "parameters": [
          {
            "description": "The ID of the file or shared drive.",
            "in": "path",
            "name": "fileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "in": "query",
            "name": "includePermissionsForView",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "in": "query",
            "name": "supportsAllDrives",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Deprecated use supportsAllDrives instead.",
            "in": "query",
            "name": "supportsTeamDrives",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
            "in": "query",
            "name": "useDomainAdminAccess",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "permissions"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "post": {
        "description": "Creates a permission for a file or shared drive. For more information on creating permissions, see Share files, folders & drives.",
        "operationId": "drive.permissions.create",
        "parameters": [
          {
            "description": "The ID of the file or shared drive.",
            "in": "path",
            "name": "fileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A plain text custom message to include in the notification email.",
            "in": "query",
            "name": "emailMessage",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Deprecated. See moveToNewOwnersRoot for details.",
            "in": "query",
            "name": "enforceSingleParent",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "This parameter will only take effect if the item is not in a shared drive and the request is attempting to transfer the ownership of the item. If set to true, the item will be moved to the new owner's My Drive root folder and all prior parents removed. If set to false, parents are not changed.",
            "in": "query",
            "name": "moveToNewOwnersRoot",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether to send a notification email when sharing to users or groups. This defaults to true for users and groups, and is not allowed for other requests. It must not be disabled for ownership transfers.",
            "in": "query",
            "name": "sendNotificationEmail",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "in": "query",
            "name": "supportsAllDrives",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Deprecated use supportsAllDrives instead.",
            "in": "query",
            "name": "supportsTeamDrives",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect. File owners can only transfer ownership of files existing on My Drive. Files existing in a shared drive are owned by the organization that owns that shared drive. Ownership transfers are not supported for files and folders in shared drives. Organizers of a shared drive can move items from that shared drive into their My Drive which transfers the ownership to them.",
            "in": "query",
            "name": "transferOwnership",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
            "in": "query",
            "name": "useDomainAdminAccess",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Permission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "permissions"
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "alt": {
        "description": "Data format for the response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "enum": [
            "json"
          ],
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      },
      "userIp": {
        "description": "Deprecated. Please use quotaUser instead.",
        "in": "query",
        "name": "userIp",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ContentRestriction": {
        "description": "A restriction for accessing the content of the file.",
        "properties": {
          "readOnly": {
            "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
            "type": "boolean"
          },
          "reason": {
            "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set readOnly=true.",
            "type": "string"
          },
          "restrictingUser": {
            "$ref": "#/components/schemas/User",
            "description": "The user who set the content restriction. Only populated if readOnly is true."
          },
          "restrictionTime": {
            "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
            "format": "date-time",
            "type": "string"
          },
          "type": {
            "description": "The type of the content restriction. Currently the only possible value is globalContentRestriction.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "File": {
        "description": "The metadata for a file.",
        "properties": {
          "appProperties": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "A collection of arbitrary key-value pairs that are private to the requesting app.\nEntries with null values are cleared in update and copy requests. These properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with an OAuth 2 client ID. You cannot use an API key to retrieve private properties.",
            "type": "object"
          },
          "capabilities": {
            "description": "Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user can take.",
            "properties": {
              "canAcceptOwnership": {
                "description": "Whether the current user is the pending owner of the file. Not populated for shared drive files.",
                "type": "boolean"
              },
              "canAddChildren": {
                "description": "Whether the current user can add children to this folder. This is always false when the item isn't a folder.",
                "type": "boolean"
              },
              "canAddFolderFromAnotherDrive": {
                "description": "Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is false when the item isn't a folder. Only populated for items in shared drives.",
                "type": "boolean"
              },
              "canAddMyDriveParent": {
                "description": "Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files.",
                "type": "boolean"
              },
              "canChangeCopyRequiresWriterPermission": {
                "description": "Whether the current user can change the copyRequiresWriterPermission restriction of this file.",
                "type": "boolean"
              },
              "canChangeSecurityUpdateEnabled": {
                "description": "Whether the current user can change the securityUpdateEnabled field on link share metadata.",
                "type": "boolean"
              },
              "canChangeViewersCanCopyContent": {
                "description": "Deprecated",
                "type": "boolean"
              },
              "canComment": {
                "description": "Whether the current user can comment on this file.",
                "type": "boolean"
              },
              "canCopy": {
                "description": "Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item itself if it's not a folder.",
                "type": "boolean"
              },
              "canDelete": {
                "description": "Whether the current user can delete this file.",
                "type": "boolean"
              },
              "canDeleteChildren": {
                "description": "Whether the current user can delete children of this folder. This is false when the item isn't a folder. Only populated for items in shared drives.",
                "type": "boolean"
              },
              "canDownload": {
                "description": "Whether the current user can download this file.",
                "type": "boolean"
              },
              "canEdit": {
                "description": "Whether the current user can edit this file. Other factors might limit the type of changes a user can make to a file. For example, see canChangeCopyRequiresWriterPermission or canModifyContent.",
                "type": "boolean"
              },
              "canListChildren": {
                "description": "Whether the current user can list the children of this folder. This is always false when the item isn't a folder.",
                "type": "boolean"
              },
              "canModifyContent": {
                "description": "Whether the current user can modify the content of this file.",
                "type": "boolean"
              },
              "canModifyContentRestriction": {
                "description": "Whether the current user can modify restrictions on content of this file.",
                "type": "boolean"
              },
              "canModifyLabels": {
                "description": "Whether the current user can modify the labels on this file.",
                "type": "boolean"
              },
              "canMoveChildrenOutOfDrive": {
                "description": "Whether the current user can move children of this folder outside of the shared drive. This is false when the item isn't a folder. Only populated for items in shared drives.",
                "type": "boolean"
              },
              "canMoveChildrenOutOfTeamDrive": {
                "description": "Deprecated - use canMoveChildrenOutOfDrive instead.",
                "type": "boolean"
              },
              "canMoveChildrenWithinDrive": {
                "description": "Whether the current user can move children of this folder within this shared drive or My Drive. This is false when the item isn't a folder. Note that a request to move the child might still fail depending on the current user's access to the child and to the destination folder.",
                "type": "boolean"
              },
              "canMoveChildrenWithinTeamDrive": {
                "description": "Deprecated - use canMoveChildrenWithinDrive instead.",
                "type": "boolean"
              },
              "canMoveItemIntoTeamDrive": {
                "description": "Deprecated - use canMoveItemOutOfDrive instead.",
                "type": "boolean"
              },
              "canMoveItemOutOfDrive": {
                "description": "Whether the current user can move this item outside of this shared drive or My Drive by changing its parent. Note that a request to change the parent of the item might still fail depending on the new parent that's being added.",
                "type": "boolean"
              },
              "canMoveItemOutOfTeamDrive": {
                "description": "Deprecated - use canMoveItemOutOfDrive instead.",
                "type": "boolean"
              },
              "canMoveItemWithinDrive": {
                "description": "Whether the current user can move this item within this shared drive or My Drive. Note that a request to change the parent of the item might still fail depending on the new parent that's being added and the parent that's being removed.",
                "type": "boolean"
              },
              "canMoveItemWithinTeamDrive": {
                "description": "Deprecated - use canMoveItemWithinDrive instead.",
                "type": "boolean"
              },
              "canMoveTeamDriveItem": {
                "description": "Deprecated - use canMoveItemWithinDrive or canMoveItemOutOfDrive instead.",
                "type": "boolean"
              },
              "canReadDrive": {
                "description": "Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives.",
                "type": "boolean"
              },
              "canReadLabels": {
                "description": "Whether the current user can read the labels on this file.",
                "type": "boolean"
              },
              "canReadRevisions": {
                "description": "Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item itself if it's not a folder, can be read.",
                "type": "boolean"
              },
              "canReadTeamDrive": {
                "description": "Deprecated - use canReadDrive instead.",
                "type": "boolean"
              },
              "canRemoveChildren": {
                "description": "Whether the current user can remove children from this folder. This is always false when the item isn't a folder. For a folder in a shared drive, use canDeleteChildren or canTrashChildren instead.",
                "type": "boolean"
              },
              "canRemoveMyDriveParent": {
                "description": "Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files.",
                "type": "boolean"
              },
              "canRename": {
                "description": "Whether the current user can rename this file.",
                "type": "boolean"
              },
              "canShare": {
                "description": "Whether the current user can modify the sharing settings for this file.",
                "type": "boolean"
              },
              "canTrash": {
                "description": "Whether the current user can move this file to trash.",
                "type": "boolean"
              },
              "canTrashChildren": {
                "description": "Whether the current user can trash children of this folder. This is false when the item isn't a folder. Only populated for items in shared drives.",
                "type": "boolean"
              },
              "canUntrash": {
                "description": "Whether the current user can restore this file from trash.",
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "contentHints": {
            "description": "Additional information about the content of the file. These fields are never populated in responses.",
            "properties": {
              "indexableText": {
                "description": "Text to be indexed for the file to improve fullText queries. This is limited to 128 KB in length and might contain HTML elements. For more information, see Manage file metadata.",
                "type": "string"
              },
              "thumbnail": {
                "description": "A thumbnail for the file. This will only be used if Google Drive cannot generate a standard thumbnail.",
                "properties": {
                  "image": {
                    "description": "The thumbnail data encoded with URL-safe Base64 (RFC 4648 section 5).",
                    "format": "byte",
                    "type": "string"
                  },
                  "mimeType": {
                    "description": "The MIME type of the thumbnail.",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          },
          "contentRestrictions": {
            "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
            "items": {
              "$ref": "#/components/schemas/ContentRestriction"
            },
            "type": "array"
          },
          "copyRequiresWriterPermission": {
            "description": "Whether the options to copy, print, or download this file, should be disabled for readers and commenters.",
            "type": "boolean"
          },
          "createdTime": {
            "description": "The time at which the file was created (RFC 3339 date-time).",
            "format": "date-time",
            "type": "string"
          },
          "description": {
            "description": "A short description of the file.",
            "type": "string"
          },
          "driveId": {
            "description": "ID of the shared drive the file resides in. Only populated for items in shared drives.",
            "type": "string"
          },
          "explicitlyTrashed": {
            "description": "Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder.",
            "type": "boolean"
          },
          "exportLinks": {
            "additionalProperties": {
              "description": "A mapping from export format to URL",
              "type": "string"
            },
            "description": "Links for exporting Docs Editors files to specific formats.",
            "readOnly": true,
            "type": "object"
          },
          "fileExtension": {
            "description": "The final component of fullFileExtension. This is only available for files with binary content in Google Drive.",
            "type": "string"
          },
          "folderColorRgb": {
            "description": "The color for a folder or shortcut to a folder as an RGB hex string. The supported colors are published in the folderColorPalette field of the About resource.\nIf an unsupported color is specified, the closest color in the palette will be used instead.",
            "type": "string"
          },
          "fullFileExtension": {
            "description": "The full file extension extracted from the name field. Can contain multiple concatenated extensions, such as \"tar.gz\". This is only available for files with binary content in Google Drive.\nThis is automatically updated when the name field changes, however it's not cleared if the new name does not contain a valid extension.",
            "type": "string"
          },
          "hasAugmentedPermissions": {
            "description": "Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
            "type": "boolean"
          },
          "hasThumbnail": {
            "description": "Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field.",
            "type": "boolean"
          },
          "headRevisionId": {
            "description": "The ID of the file's head revision. This is only available for files with binary content in Google Drive.",
            "type": "string"
          },
          "iconLink": {
            "description": "A static, unauthenticated link to the file's icon.",
            "type": "string"
          },
          "id": {
            "description": "The ID of the file.",
            "type": "string"
          },
          "imageMediaMetadata": {
            "description": "Additional metadata about image media, if available.",
            "properties": {
              "aperture": {
                "description": "The aperture used to create the photo (f-number).",
                "format": "float",
                "type": "number"
              },
              "cameraMake": {
                "description": "The make of the camera used to create the photo.",
                "type": "string"
              },
              "cameraModel": {
                "description": "The model of the camera used to create the photo.",
                "type": "string"
              },
              "colorSpace": {
                "description": "The color space of the photo.",
                "type": "string"
              },
              "exposureBias": {
                "description": "The exposure bias of the photo (APEX value).",
                "format": "float",
                "type": "number"
              },
              "exposureMode": {
                "description": "The exposure mode used to create the photo.",
                "type": "string"
              },
              "exposureTime": {
                "description": "The length of the exposure, in seconds.",
                "format": "float",
                "type": "number"
              },
              "flashUsed": {
                "description": "Whether a flash was used to create the photo.",
                "type": "boolean"
              },
              "focalLength": {
                "description": "The focal length used to create the photo, in millimeters.",
                "format": "float",
                "type": "number"
              },
              "height": {
                "description": "The height of the image in pixels.",
                "format": "int32",
                "type": "integer"
              },
              "isoSpeed": {
                "description": "The ISO speed used to create the photo.",
                "format": "int32",
                "type": "integer"
              },
              "lens": {
                "description": "The lens used to create the photo.",
                "type": "string"
              },
              "location": {
                "description": "Geographic location information stored in the image.",
                "properties": {
                  "altitude": {
                    "description": "The altitude stored in the image.",
                    "format": "double",
                    "type": "number"
                  },
                  "latitude": {
                    "description": "The latitude stored in the image.",
                    "format": "double",
                    "type": "number"
                  },
                  "longitude": {
                    "description": "The longitude stored in the image.",
                    "format": "double",
                    "type": "number"
                  }
                },
                "type": "object"
              },
              "maxApertureValue": {
                "description": "The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
                "format": "float",
                "type": "number"
              },
              "meteringMode": {
                "description": "The metering mode used to create the photo.",
                "type": "string"
              },
              "rotation": {
                "description": "The number of clockwise 90-degree rotations applied from the image's original orientation.",
                "format": "int32",
                "type": "integer"
              },
              "sensor": {
                "description": "The type of sensor used to create the photo.",
                "type": "string"
              },
              "subjectDistance": {
                "description": "The distance to the subject of the photo, in meters.",
                "format": "int32",
                "type": "integer"
              },
              "time": {
                "description": "The date and time the photo was taken (EXIF DateTime).",
                "type": "string"
              },
              "whiteBalance": {
                "description": "The white balance mode used to create the photo.",
                "type": "string"
              },
              "width": {
                "description": "The width of the image in pixels.",
                "format": "int32",
                "type": "integer"
              }
            },
            "type": "object"
          },
          "isAppAuthorized": {
            "description": "Whether the requesting app created or opened the file.",
            "type": "boolean"
          },
          "kind": {
            "default": "drive#file",
            "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#file\".",
            "type": "string"
          },
          "labelInfo": {
            "description": "An overview of the labels on the file.",
            "properties": {
              "labels": {
                "description": "The set of labels on the file as requested by the label IDs in the includeLabels parameter. By default, no labels are returned.",
                "items": {
                  "$ref": "#/components/schemas/Label"
                },
                "type": "array"
              }
            },
            "type": "object"
          },
          "lastModifyingUser": {
            "$ref": "#/components/schemas/User",
            "description": "The last user to modify the file."
          },
          "linkShareMetadata": {
            "description": "Contains details about the link URLs that clients are using to refer to this item.",
            "properties": {
              "securityUpdateEligible": {
                "description": "Whether the file is eligible for security update.",
                "type": "boolean"
              },
              "securityUpdateEnabled": {
                "description": "Whether the security update is enabled for this file.",
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "md5Checksum": {
            "description": "The MD5 checksum for the content of the file. This is only applicable to files with binary content in Google Drive.",
            "type": "string"
          },
          "mimeType": {
            "description": "The MIME type of the file.\nGoogle Drive will attempt to automatically detect an appropriate value from uploaded content if no value is provided. The value cannot be changed unless a new revision is uploaded.\nIf a file is created with a Google Doc MIME type, the uploaded content will be imported if possible. The supported import formats are published in the About resource.",
            "type": "string"
          },
          "modifiedByMe": {
            "description": "Whether this user has modified the file.",
            "type": "boolean"
          },
          "modifiedByMeTime": {
            "description": "The last time the user modified the file (RFC 3339 date-time).",
            "format": "date-time",
            "type": "string"
          },
          "modifiedTime": {
            "description": "The last time anyone modified the file (RFC 3339 date-time).\nNote that setting modifiedTime will also update modifiedByMeTime for the user.",
            "format": "date-time",
            "type": "string"
          },
          "name": {
            "description": "The name of the file. This isn't necessarily unique within a folder. Note that for immutable items such as the top-level folders of shared drives, My Drive root folder, and Application Data folder the name is constant.",
            "type": "string"
          },
          "originalFilename": {
            "description": "The original filename of the uploaded content if available, or else the original value of the name field. This is only available for files with binary content in Google Drive.",
            "type": "string"
          },
          "ownedByMe": {
            "description": "Whether the user owns the file. Not populated for items in shared drives.",
            "type": "boolean"
          },
          "owners": {
            "description": "The owner of this file. Only certain legacy files might have more than one owner. This field isn't populated for items in shared drives.",
            "items": {
              "$ref": "#/components/schemas/User"
            },
            "type": "array"
          },
          "parents": {
            "description": "The IDs of the parent folders that contain the file.\nIf not specified as part of a create request, the file will be placed directly in the user's My Drive folder. If not specified as part of a copy request, the file will inherit any discoverable parents of the source file. Update requests must use the addParents and removeParents parameters to modify the parents list.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "permissionIds": {
            "description": "List of permission IDs for users with access to this file.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "permissions": {
            "description": "The full list of permissions for the file. This is only available if the requesting user can share the file. Not populated for items in shared drives.",
            "items": {
              "$ref": "#/components/schemas/Permission"
            },
            "type": "array"
          },
          "properties": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "A collection of arbitrary key-value pairs that are visible to all apps.\nEntries with null values are cleared in update and copy requests.",
            "type": "object"
          },
          "quotaBytesUsed": {
            "description": "The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with keepForever enabled.",
            "format": "int64",
            "type": "string"
          },
          "resourceKey": {
            "description": "A key needed to access the item via a shared link.",
            "type": "string"
          },
          "sha1Checksum": {
            "description": "The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files.",
            "type": "string"
          },
          "sha256Checksum": {
            "description": "The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files.",
            "type": "string"
          },
          "shared": {
            "description": "Whether the file has been shared. Not populated for items in shared drives.",
            "type": "boolean"
          },
          "sharedWithMeTime": {
            "description": "The time at which the file was shared with the user, if applicable (RFC 3339 date-time).",
            "format": "date-time",
            "type": "string"
          },
          "sharingUser": {
            "$ref": "#/components/schemas/User",
            "description": "The user who shared the file with the requesting user, if applicable."
          },
          "shortcutDetails": {
            "description": "Shortcut file details. Only populated for shortcut files, which have the mimeType field set to application/vnd.google-apps.shortcut.",
            "properties": {
              "targetId": {
                "description": "The ID of the file that this shortcut points to.",
                "type": "string"
              },
              "targetMimeType": {
                "description": "The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created.",
                "type": "string"
              },
              "targetResourceKey": {
                "description": "The ResourceKey for the target file.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "size": {
            "description": "The size of the file's content in bytes. This field is populated for files with binary content stored in Google Drive and for Docs Editors files; it's not populated for shortcuts or folders.",
            "format": "int64",
            "type": "string"
          },
          "spaces": {
            "description": "The list of spaces that contain the file. The currently supported values are 'drive', 'appDataFolder' and 'photos'.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "starred": {
            "description": "Whether the user has starred the file.",
            "type": "boolean"
          },
          "teamDriveId": {
            "description": "Deprecated - use driveId instead.",
            "type": "string"
          },
          "thumbnailLink": {
            "description": "A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in Files.thumbnailLink must be fetched using a credentialed request.",
            "type": "string"
          },
          "thumbnailVersion": {
            "description": "The thumbnail version for use in thumbnail cache invalidation.",
            "format": "int64",
            "type": "string"
          },
          "trashed": {
            "description": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner can trash a file. The trashed item is excluded from all files.list responses returned for any user who does not own the file. However, all users with access to the file can see the trashed item metadata in an API response. All users with access can copy, download, export, and share the file.",
            "type": "boolean"
          },
          "trashedTime": {
            "description": "The time that the item was trashed (RFC 3339 date-time). Only populated for items in shared drives.",
            "format": "date-time",
            "type": "string"
          },
          "trashingUser": {
            "$ref": "#/components/schemas/User",
            "description": "If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives."
          },
          "version": {
            "description": "A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the user.",
            "format": "int64",
            "type": "string"
          },
          "videoMediaMetadata": {
            "description": "Additional metadata about video media. This might not be available immediately upon upload.",
            "properties": {
              "durationMillis": {
                "description": "The duration of the video in milliseconds.",
                "format": "int64",
                "type": "string"
              },
              "height": {
                "description": "The height of the video in pixels.",
                "format": "int32",
                "type": "integer"
              },
              "width": {
                "description": "The width of the video in pixels.",
                "format": "int32",
                "type": "integer"
              }
            },
            "type": "object"
          },
          "viewedByMe": {
            "description": "Whether this user has viewed the file.",
            "type": "boolean"
          },
          "viewedByMeTime": {
            "description": "The last time the user viewed the file (RFC 3339 date-time).",
            "format": "date-time",
            "type": "string"
          },
          "viewersCanCopyContent": {
            "description": "Deprecated - use copyRequiresWriterPermission instead.",
            "type": "boolean"
          },
          "webContentLink": {
            "description": "A link for downloading the content of the file in a browser. This is only available for files with binary content in Google Drive.",
            "type": "string"
          },
          "webViewLink": {
            "description": "A link for opening the file in a relevant Google editor or viewer in a browser.",
            "type": "string"
          },
          "writersCanShare": {
            "description": "Whether users with only writer permission can modify the file's permissions. Not populated for items in shared drives.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "Label": {
        "description": "Representation of a label and its fields.",
        "properties": {
          "fields": {
            "additionalProperties": {
              "$ref": "#/components/schemas/LabelField"
            },
            "description": "A map of the label's fields keyed by the field ID.",
            "type": "object"
          },
          "id": {
            "description": "The ID of the label.",
            "type": "string"
          },
          "kind": {
            "default": "drive#label",
            "description": "This is always drive#label",
            "type": "string"
          },
          "revisionId": {
            "description": "The revision ID of the label.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "LabelField": {
        "description": "Representation of a label field.",
        "properties": {
          "dateString": {
            "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD.",
            "items": {
              "format": "date",
              "type": "string"
            },
            "type": "array"
          },
          "id": {
            "description": "The identifier of this field.",
            "type": "string"
          },
          "integer": {
            "description": "Only present if valueType is integer.",
            "items": {
              "format": "int64",
              "type": "string"
            },
            "type": "array"
          },
          "kind": {
            "default": "drive#labelField",
            "description": "This is always drive#labelField.",
            "type": "string"
          },
          "selection": {
            "description": "Only present if valueType is selection.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "text": {
            "description": "Only present if valueType is text.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "user": {
            "description": "Only present if valueType is user.",
            "items": {
              "$ref": "#/components/schemas/User"
            },
            "type": "array"
          },
          "valueType": {
            "description": "The field type. While new values may be supported in the future, the following are currently allowed:  \n- dateString \n- integer \n- selection \n- text \n- user",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Permission": {
        "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy.",
        "properties": {
          "allowFileDiscovery": {
            "description": "Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type domain or anyone.",
            "type": "boolean"
          },
          "deleted": {
            "description": "Whether the account associated with this permission has been deleted. This field only pertains to user and group permissions.",
            "type": "boolean"
          },
          "displayName": {
            "description": "The \"pretty\" name of the value of the permission. The following is a list of examples for each type of permission:  \n- user - User's full name, as defined for their Google Account, such as \"Joe Smith.\" \n- group - Name of the Google Group, such as \"The Company Administrators.\" \n- domain - String domain name, such as \"your-company.com.\" \n- anyone - No displayName is present.",
            "type": "string"
          },
          "domain": {
            "description": "The domain to which this permission refers. The following options are currently allowed:  \n- The entire domain, such as \"your-company.com.\" \n- A target audience, such as \"ID.audience.googledomains.com.\"",
            "type": "string"
          },
          "emailAddress": {
            "description": "The email address of the user or group to which this permission refers.",
            "type": "string"
          },
          "expirationTime": {
            "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions:  \n- They cannot be set on shared drive items. \n- They can only be set on user and group permissions. \n- The time must be in the future. \n- The time cannot be more than one year in the future.",
            "format": "date-time",
            "type": "string"
          },
          "id": {
            "description": "The ID of this permission. This is a unique identifier for the grantee, and is published in User resources as permissionId. IDs should be treated as opaque values.",
            "type": "string"
          },
          "kind": {
            "default": "drive#permission",
            "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#permission\".",
            "type": "string"
          },
          "pendingOwner": {
            "description": "Whether the account associated with this permission is a pending owner. Only populated for user type permissions for files that aren't in a shared drive.",
            "type": "boolean"
          },
          "permissionDetails": {
            "description": "Details of whether the permissions on this shared drive item are inherited or are directly on this item. This is an output-only field that's present only for shared drive items.",
            "items": {
              "properties": {
                "inherited": {
                  "description": "Whether this permission is inherited. This field is always populated. This is an output-only field.",
                  "type": "boolean"
                },
                "inheritedFrom": {
                  "description": "The ID of the item from which this permission is inherited. This is an output-only field.",
                  "type": "string"
                },
                "permissionType": {
                  "description": "The permission type for this user. While new values may be added in future, the following are currently allowed:  \n- file \n- member",
                  "type": "string"
                },
                "role": {
                  "description": "The primary role for this user. While new values may be added in the future, the following are currently allowed:  \n- organizer \n- fileOrganizer \n- writer \n- commenter \n- reader",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "readOnly": true,
            "type": "array"
          },
          "photoLink": {
            "description": "A link to the user's profile photo, if available.",
            "type": "string"
          },
          "role": {
            "description": "The role granted by this permission. While new values may be supported in the future, the following are currently allowed:  \n- owner \n- organizer \n- fileOrganizer \n- writer \n- commenter \n- reader",
            "type": "string"
          },
          "teamDrivePermissionDetails": {
            "description": "Deprecated - use permissionDetails instead.",
            "items": {
              "properties": {
                "inherited": {
                  "description": "Deprecated - use permissionDetails/inherited instead.",
                  "type": "boolean"
                },
                "inheritedFrom": {
                  "description": "Deprecated - use permissionDetails/inheritedFrom instead.",
                  "type": "string"
                },
                "role": {
                  "description": "Deprecated - use permissionDetails/role instead.",
                  "type": "string"
                },
                "teamDrivePermissionType": {
                  "description": "Deprecated - use permissionDetails/permissionType instead.",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "readOnly": true,
            "type": "array"
          },
          "type": {
            "description": "The type of the grantee. Valid values are:  \n- user \n- group \n- domain \n- anyone  When creating a permission, if type is user or group, you must provide an emailAddress for the user or group. When type is domain, you must provide a domain. There isn't extra information required for the anyone type.",
            "type": "string"
          },
          "view": {
            "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. published is the only supported value.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "User": {
        "description": "Information about a Drive user.",
        "properties": {
          "displayName": {
            "description": "A plain text displayable name for this user.",
            "type": "string"
          },
          "emailAddress": {
            "description": "The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.",
            "type": "string"
          },
          "kind": {
            "default": "drive#user",
            "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#user\".",
            "type": "string"
          },
          "me": {
            "description": "Whether this user is the requesting user.",
            "type": "boolean"
          },
          "permissionId": {
            "description": "The user's ID as visible in Permission resources.",
            "type": "string"
          },
          "photoLink": {
            "description": "A link to the user's profile photo, if available.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "Oauth2": {
        "description": "Oauth 2.0 implicit authentication",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/drive": "See, edit, create, and delete all of your Google Drive files",
              "https://www.googleapis.com/auth/drive.appdata": "See, create, and delete its own configuration data in your Google Drive",
              "https://www.googleapis.com/auth/drive.file": "See, edit, create, and delete only the specific Google Drive files you use with this app",
              "https://www.googleapis.com/auth/drive.metadata": "View and manage metadata of files in your Google Drive",
              "https://www.googleapis.com/auth/drive.metadata.readonly": "See information about your Google Drive files",
              "https://www.googleapis.com/auth/drive.photos.readonly": "View the photos, videos and albums in your Google Photos",
              "https://www.googleapis.com/auth/drive.readonly": "See and download all your Google Drive files",
              "https://www.googleapis.com/auth/drive.scripts": "Modify your Google Apps Script scripts' behavior"
            }
          }
        },
        "type": "oauth2"
      },
      "Oauth2c": {
        "description": "Oauth 2.0 authorizationCode authentication",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/drive": "See, edit, create, and delete all of your Google Drive files",
              "https://www.googleapis.com/auth/drive.appdata": "See, create, and delete its own configuration data in your Google Drive",
              "https://www.googleapis.com/auth/drive.file": "See, edit, create, and delete only the specific Google Drive files you use with this app",
              "https://www.googleapis.com/auth/drive.metadata": "View and manage metadata of files in your Google Drive",
              "https://www.googleapis.com/auth/drive.metadata.readonly": "See information about your Google Drive files",
              "https://www.googleapis.com/auth/drive.photos.readonly": "View the photos, videos and albums in your Google Photos",
              "https://www.googleapis.com/auth/drive.readonly": "See and download all your Google Drive files",
              "https://www.googleapis.com/auth/drive.scripts": "Modify your Google Apps Script scripts' behavior"
            },
            "tokenUrl": "https://accounts.google.com/o/oauth2/token"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
