{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com",
      "x-twitter": "youtube"
    },
    "description": "Provides access to information about profiles and contacts.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "People API",
    "version": "v1",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-apisguru-categories": [
      "analytics",
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/mermade/oas-kit",
          "version": "7.0.4"
        },
        "format": "google",
        "url": "https://people.googleapis.com/$discovery/rest?version=v1",
        "version": "v1"
      }
    ],
    "x-providerName": "googleapis.com",
    "x-serviceName": "people",
    "x-vendored-from": "https://api.apis.guru/v2/specs/googleapis.com/people/v1/openapi.json",
    "x-vendored-note": "Trimmed by src/providers/google/specs/vendor.ts. Committed deliberately: a spec decides which paths are called with the operator token, so it must be reviewable rather than fetched at connect time."
  },
  "servers": [
    {
      "url": "https://people.googleapis.com/"
    }
  ],
  "paths": {
    "/v1/otherContacts:search": {
      "get": {
        "description": "Provides a list of contacts in the authenticated user's other contacts that matches the search query. The query matches on a contact's `names`, `emailAddresses`, and `phoneNumbers` fields that are from the OTHER_CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/other-contacts#search_the_users_other_contacts",
        "operationId": "people.otherContacts.search",
        "parameters": [
          {
            "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\".",
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * metadata * names * phoneNumbers",
            "in": "query",
            "name": "readMask",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/contacts.other.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/contacts.other.readonly"
            ]
          }
        ],
        "tags": [
          "otherContacts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ]
    },
    "/v1/people:batchGet": {
      "get": {
        "description": "Provides information about a list of specific people by specifying a list of requested resource names. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
        "operationId": "people.people.getBatchGet",
        "parameters": [
          {
            "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
            "in": "query",
            "name": "personFields",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
            "in": "query",
            "name": "requestMask.includeField",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Required. The resource names of the people to provide information about. It's repeatable. The URL query parameter should be resourceNames=<name1>&resourceNames=<name2>&... - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`. There is a maximum of 200 resource names.",
            "explode": true,
            "in": "query",
            "name": "resourceNames",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
            "explode": true,
            "in": "query",
            "name": "sources",
            "schema": {
              "items": {
                "enum": [
                  "READ_SOURCE_TYPE_UNSPECIFIED",
                  "READ_SOURCE_TYPE_PROFILE",
                  "READ_SOURCE_TYPE_CONTACT",
                  "READ_SOURCE_TYPE_DOMAIN_CONTACT"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/contacts"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/contacts"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/contacts.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/contacts.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/directory.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/directory.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/user.addresses.read"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/user.addresses.read"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/user.birthday.read"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/user.birthday.read"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/user.emails.read"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/user.emails.read"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/user.gender.read"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/user.gender.read"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/user.organization.read"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/user.organization.read"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/user.phonenumbers.read"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/user.phonenumbers.read"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/userinfo.email"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/userinfo.email"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/userinfo.profile"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/userinfo.profile"
            ]
          }
        ],
        "tags": [
          "people"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ]
    },
    "/v1/people:searchContacts": {
      "get": {
        "description": "Provides a list of contacts in the authenticated user's grouped contacts that matches the search query. The query matches on a contact's `names`, `nickNames`, `emailAddresses`, `phoneNumbers`, and `organizations` fields that are from the CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/contacts#search_the_users_contacts",
        "operationId": "people.people.searchContacts",
        "parameters": [
          {
            "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\".",
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
            "in": "query",
            "name": "readMask",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set.",
            "explode": true,
            "in": "query",
            "name": "sources",
            "schema": {
              "items": {
                "enum": [
                  "READ_SOURCE_TYPE_UNSPECIFIED",
                  "READ_SOURCE_TYPE_PROFILE",
                  "READ_SOURCE_TYPE_CONTACT",
                  "READ_SOURCE_TYPE_DOMAIN_CONTACT"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/contacts"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/contacts"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/contacts.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/contacts.readonly"
            ]
          }
        ],
        "tags": [
          "people"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ]
    }
  },
  "components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "in": "query",
        "name": "$.xgafv",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "type": "string"
        }
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "schema": {
          "type": "string"
        }
      },
      "alt": {
        "description": "Data format for response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "type": "string"
        }
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "schema": {
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "schema": {
          "type": "string"
        }
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "schema": {
          "type": "string"
        }
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "schema": {
          "type": "boolean"
        }
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "schema": {
          "type": "string"
        }
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "schema": {
          "type": "string"
        }
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {},
    "securitySchemes": {
      "Oauth2": {
        "description": "Oauth 2.0 implicit authentication",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/contacts": "See, edit, download, and permanently delete your contacts",
              "https://www.googleapis.com/auth/contacts.other.readonly": "See and download contact info automatically saved in your \"Other contacts\"",
              "https://www.googleapis.com/auth/contacts.readonly": "See and download your contacts",
              "https://www.googleapis.com/auth/directory.readonly": "See and download your organization's GSuite directory",
              "https://www.googleapis.com/auth/user.addresses.read": "View your street addresses",
              "https://www.googleapis.com/auth/user.birthday.read": "See and download your exact date of birth",
              "https://www.googleapis.com/auth/user.emails.read": "See and download all of your Google Account email addresses",
              "https://www.googleapis.com/auth/user.gender.read": "See your gender",
              "https://www.googleapis.com/auth/user.organization.read": "See your education, work history and org info",
              "https://www.googleapis.com/auth/user.phonenumbers.read": "See and download your personal phone numbers",
              "https://www.googleapis.com/auth/userinfo.email": "See your primary Google Account email address",
              "https://www.googleapis.com/auth/userinfo.profile": "See your personal info, including any personal info you've made publicly available"
            }
          }
        },
        "type": "oauth2"
      },
      "Oauth2c": {
        "description": "Oauth 2.0 authorizationCode authentication",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/contacts": "See, edit, download, and permanently delete your contacts",
              "https://www.googleapis.com/auth/contacts.other.readonly": "See and download contact info automatically saved in your \"Other contacts\"",
              "https://www.googleapis.com/auth/contacts.readonly": "See and download your contacts",
              "https://www.googleapis.com/auth/directory.readonly": "See and download your organization's GSuite directory",
              "https://www.googleapis.com/auth/user.addresses.read": "View your street addresses",
              "https://www.googleapis.com/auth/user.birthday.read": "See and download your exact date of birth",
              "https://www.googleapis.com/auth/user.emails.read": "See and download all of your Google Account email addresses",
              "https://www.googleapis.com/auth/user.gender.read": "See your gender",
              "https://www.googleapis.com/auth/user.organization.read": "See your education, work history and org info",
              "https://www.googleapis.com/auth/user.phonenumbers.read": "See and download your personal phone numbers",
              "https://www.googleapis.com/auth/userinfo.email": "See your primary Google Account email address",
              "https://www.googleapis.com/auth/userinfo.profile": "See your personal info, including any personal info you've made publicly available"
            },
            "tokenUrl": "https://accounts.google.com/o/oauth2/token"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
