{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com",
      "x-twitter": "youtube"
    },
    "description": "Reads and writes Google Sheets.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Google Sheets API",
    "version": "v4",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-apisguru-categories": [
      "analytics",
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/mermade/oas-kit",
          "version": "7.0.4"
        },
        "format": "google",
        "url": "https://sheets.googleapis.com/$discovery/rest?version=v4",
        "version": "v1"
      }
    ],
    "x-providerName": "googleapis.com",
    "x-serviceName": "sheets",
    "x-vendored-from": "https://api.apis.guru/v2/specs/googleapis.com/sheets/v4/openapi.json",
    "x-vendored-note": "Trimmed by src/providers/google/specs/vendor.ts. Committed deliberately: a spec decides which paths are called with the operator token, so it must be reviewable rather than fetched at connect time."
  },
  "servers": [
    {
      "url": "https://sheets.googleapis.com/"
    }
  ],
  "paths": {
    "/v4/spreadsheets/{spreadsheetId}": {
      "get": {
        "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids is not returned. You can include grid data in one of 2 ways: * Specify a [field mask](https://developers.google.com/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData URL parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want. To retrieve only subsets of spreadsheet data, use the ranges URL parameter. Ranges are specified using [A1 notation](/sheets/api/guides/concepts#cell). You can define a single cell (for example, `A1`) or multiple cells (for example, `A1:D5`). You can also get cells from other sheets within the same spreadsheet (for example, `Sheet2!A1:C4`) or retrieve multiple ranges at once (for example, `?ranges=A1:D5&ranges=Sheet2!A1:C4`). Limiting the range returns only the portions of the spreadsheet that intersect the requested ranges.",
        "operationId": "sheets.spreadsheets.get",
        "parameters": [
          {
            "description": "The spreadsheet to request.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request.",
            "in": "query",
            "name": "includeGridData",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "The ranges to retrieve from the spreadsheet.",
            "explode": true,
            "in": "query",
            "name": "ranges",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ]
    },
    "/v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ],
      "post": {
        "description": "Copies a single sheet from a spreadsheet to another spreadsheet. Returns the properties of the newly created sheet.",
        "operationId": "sheets.spreadsheets.sheets.copyTo",
        "parameters": [
          {
            "description": "The ID of the spreadsheet containing the sheet to copy.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the sheet to copy.",
            "in": "path",
            "name": "sheetId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopySheetToAnotherSpreadsheetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values/{range}": {
      "get": {
        "description": "Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range.",
        "operationId": "sheets.spreadsheets.values.get",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to retrieve data from.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
            "in": "path",
            "name": "range",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
            "in": "query",
            "name": "dateTimeRenderOption",
            "schema": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ],
              "type": "string"
            }
          },
          {
            "description": "The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
            "in": "query",
            "name": "majorDimension",
            "schema": {
              "enum": [
                "DIMENSION_UNSPECIFIED",
                "ROWS",
                "COLUMNS"
              ],
              "type": "string"
            }
          },
          {
            "description": "How values should be represented in the output. The default render option is FORMATTED_VALUE.",
            "in": "query",
            "name": "valueRenderOption",
            "schema": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ],
      "put": {
        "description": "Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.",
        "operationId": "sheets.spreadsheets.values.update",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to update.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The [A1 notation](/sheets/api/guides/concepts#cell) of the values to update.",
            "in": "path",
            "name": "range",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).",
            "in": "query",
            "name": "includeValuesInResponse",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
            "in": "query",
            "name": "responseDateTimeRenderOption",
            "schema": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ],
              "type": "string"
            }
          },
          {
            "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
            "in": "query",
            "name": "responseValueRenderOption",
            "schema": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ],
              "type": "string"
            }
          },
          {
            "description": "How the input data should be interpreted.",
            "in": "query",
            "name": "valueInputOption",
            "schema": {
              "enum": [
                "INPUT_VALUE_OPTION_UNSPECIFIED",
                "RAW",
                "USER_ENTERED"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values/{range}:append": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ],
      "post": {
        "description": "Appends values to a spreadsheet. The input range is used to search for existing data and find a \"table\" within that range. Values will be appended to the next row of the table, starting with the first column of the table. See the [guide](/sheets/api/guides/values#appending_values) and [sample code](/sheets/api/samples/writing#append_values) for specific details of how tables are detected and data is appended. The caller must specify the spreadsheet ID, range, and a valueInputOption. The `valueInputOption` only controls how the input data will be added to the sheet (column-wise or row-wise), it does not influence what cell the data starts being written to.",
        "operationId": "sheets.spreadsheets.values.append",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to update.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The [A1 notation](/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table.",
            "in": "path",
            "name": "range",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values.",
            "in": "query",
            "name": "includeValuesInResponse",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "How the input data should be inserted.",
            "in": "query",
            "name": "insertDataOption",
            "schema": {
              "enum": [
                "OVERWRITE",
                "INSERT_ROWS"
              ],
              "type": "string"
            }
          },
          {
            "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
            "in": "query",
            "name": "responseDateTimeRenderOption",
            "schema": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ],
              "type": "string"
            }
          },
          {
            "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
            "in": "query",
            "name": "responseValueRenderOption",
            "schema": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ],
              "type": "string"
            }
          },
          {
            "description": "How the input data should be interpreted.",
            "in": "query",
            "name": "valueInputOption",
            "schema": {
              "enum": [
                "INPUT_VALUE_OPTION_UNSPECIFIED",
                "RAW",
                "USER_ENTERED"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values/{range}:clear": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ],
      "post": {
        "description": "Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.",
        "operationId": "sheets.spreadsheets.values.clear",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to update.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell) of the values to clear.",
            "in": "path",
            "name": "range",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClearValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchClear": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ],
      "post": {
        "description": "Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges. Only values are cleared -- all other properties of the cell (such as formatting and data validation) are kept.",
        "operationId": "sheets.spreadsheets.values.batchClear",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to update.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchClearValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchGet": {
      "get": {
        "description": "Returns one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges.",
        "operationId": "sheets.spreadsheets.values.batchGet",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to retrieve data from.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
            "in": "query",
            "name": "dateTimeRenderOption",
            "schema": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ],
              "type": "string"
            }
          },
          {
            "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
            "in": "query",
            "name": "majorDimension",
            "schema": {
              "enum": [
                "DIMENSION_UNSPECIFIED",
                "ROWS",
                "COLUMNS"
              ],
              "type": "string"
            }
          },
          {
            "description": "The [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
            "explode": true,
            "in": "query",
            "name": "ranges",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.",
            "in": "query",
            "name": "valueRenderOption",
            "schema": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ]
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchUpdate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ],
      "post": {
        "description": "Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more ValueRanges.",
        "operationId": "sheets.spreadsheets.values.batchUpdate",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to update.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}:batchUpdate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ],
      "post": {
        "description": "Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. The replies will mirror the requests. For example, if you applied 4 updates and the 3rd one had a reply, then the response will have 2 empty replies, the actual reply, and another empty reply, in that order. Due to the collaborative nature of spreadsheets, it is not guaranteed that the spreadsheet will reflect exactly your changes after this completes, however it is guaranteed that the updates in the request will be applied together atomically. Your changes may be altered with respect to collaborator changes. If there are no collaborators, the spreadsheet should reflect your changes.",
        "operationId": "sheets.spreadsheets.batchUpdate",
        "parameters": [
          {
            "description": "The spreadsheet to apply the updates to.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateSpreadsheetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "in": "query",
        "name": "$.xgafv",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "type": "string"
        }
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "schema": {
          "type": "string"
        }
      },
      "alt": {
        "description": "Data format for response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "type": "string"
        }
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "schema": {
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "schema": {
          "type": "string"
        }
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "schema": {
          "type": "string"
        }
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "schema": {
          "type": "boolean"
        }
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "schema": {
          "type": "string"
        }
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "schema": {
          "type": "string"
        }
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "BatchClearValuesRequest": {
        "description": "The request for clearing more than one range of values in a spreadsheet.",
        "properties": {
          "ranges": {
            "description": "The ranges to clear, in [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell).",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "BatchUpdateSpreadsheetRequest": {
        "description": "The request for updating any aspect of a spreadsheet.",
        "properties": {
          "includeSpreadsheetInResponse": {
            "description": "Determines if the update response should include the spreadsheet resource.",
            "type": "boolean"
          },
          "requests": {
            "description": "A list of updates to apply to the spreadsheet. Requests will be applied in the order they are specified. If any request is not valid, no requests will be applied.",
            "items": {
              "$ref": "#/components/schemas/Request"
            },
            "type": "array"
          },
          "responseIncludeGridData": {
            "description": "True if grid data should be returned. Meaningful only if include_spreadsheet_in_response is 'true'. This parameter is ignored if a field mask was set in the request.",
            "type": "boolean"
          },
          "responseRanges": {
            "description": "Limits the ranges included in the response spreadsheet. Meaningful only if include_spreadsheet_in_response is 'true'.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "BatchUpdateValuesRequest": {
        "description": "The request for updating more than one range of values in a spreadsheet.",
        "properties": {
          "data": {
            "description": "The new values to apply to the spreadsheet.",
            "items": {
              "$ref": "#/components/schemas/ValueRange"
            },
            "type": "array"
          },
          "includeValuesInResponse": {
            "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. The `updatedData` field within each of the BatchUpdateValuesResponse.responses contains the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).",
            "type": "boolean"
          },
          "responseDateTimeRenderOption": {
            "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
            "enum": [
              "SERIAL_NUMBER",
              "FORMATTED_STRING"
            ],
            "type": "string"
          },
          "responseValueRenderOption": {
            "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
            "enum": [
              "FORMATTED_VALUE",
              "UNFORMATTED_VALUE",
              "FORMULA"
            ],
            "type": "string"
          },
          "valueInputOption": {
            "description": "How the input data should be interpreted.",
            "enum": [
              "INPUT_VALUE_OPTION_UNSPECIFIED",
              "RAW",
              "USER_ENTERED"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "ClearValuesRequest": {
        "description": "The request for clearing a range of values in a spreadsheet.",
        "properties": {},
        "type": "object"
      },
      "CopySheetToAnotherSpreadsheetRequest": {
        "description": "The request to copy a sheet across spreadsheets.",
        "properties": {
          "destinationSpreadsheetId": {
            "description": "The ID of the spreadsheet to copy the sheet to.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "type": "object",
        "additionalProperties": true,
        "description": "A single kind of update to apply to a spreadsheet. Structure omitted: it expands to megabytes when inlined. Pass the object as documented at https://developers.google.com/workspace."
      },
      "ValueRange": {
        "description": "Data within a range of the spreadsheet.",
        "properties": {
          "majorDimension": {
            "description": "The major dimension of the values. For output, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=A1:B2,majorDimension=ROWS` will return `[[1,2],[3,4]]`, whereas requesting `range=A1:B2,majorDimension=COLUMNS` will return `[[1,3],[2,4]]`. For input, with `range=A1:B2,majorDimension=ROWS` then `[[1,2],[3,4]]` will set `A1=1,B1=2,A2=3,B2=4`. With `range=A1:B2,majorDimension=COLUMNS` then `[[1,2],[3,4]]` will set `A1=1,B1=3,A2=2,B2=4`. When writing, if this field is not set, it defaults to ROWS.",
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "ROWS",
              "COLUMNS"
            ],
            "type": "string"
          },
          "range": {
            "description": "The range the values cover, in [A1 notation](/sheets/api/guides/concepts#cell). For output, this range indicates the entire requested range, even though the values will exclude trailing rows and columns. When appending values, this field represents the range to search for a table, after which values will be appended.",
            "type": "string"
          },
          "values": {
            "description": "The data that was read or to be written. This is an array of arrays, the outer array representing all the data and each inner array representing a major dimension. Each item in the inner array corresponds with one cell. For output, empty trailing rows and columns will not be included. For input, supported value types are: bool, string, and double. Null values will be skipped. To set a cell to an empty value, set the string value to an empty string.",
            "items": {
              "items": {},
              "type": "array"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "Oauth2": {
        "description": "Oauth 2.0 implicit authentication",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/drive": "See, edit, create, and delete all of your Google Drive files",
              "https://www.googleapis.com/auth/drive.file": "See, edit, create, and delete only the specific Google Drive files you use with this app",
              "https://www.googleapis.com/auth/drive.readonly": "See and download all your Google Drive files",
              "https://www.googleapis.com/auth/spreadsheets": "See, edit, create, and delete all your Google Sheets spreadsheets",
              "https://www.googleapis.com/auth/spreadsheets.readonly": "See all your Google Sheets spreadsheets"
            }
          }
        },
        "type": "oauth2"
      },
      "Oauth2c": {
        "description": "Oauth 2.0 authorizationCode authentication",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/drive": "See, edit, create, and delete all of your Google Drive files",
              "https://www.googleapis.com/auth/drive.file": "See, edit, create, and delete only the specific Google Drive files you use with this app",
              "https://www.googleapis.com/auth/drive.readonly": "See and download all your Google Drive files",
              "https://www.googleapis.com/auth/spreadsheets": "See, edit, create, and delete all your Google Sheets spreadsheets",
              "https://www.googleapis.com/auth/spreadsheets.readonly": "See all your Google Sheets spreadsheets"
            },
            "tokenUrl": "https://accounts.google.com/o/oauth2/token"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
