{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com",
      "x-twitter": "youtube"
    },
    "description": "The Google Tasks API lets you manage your tasks and task lists.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Google Tasks API",
    "version": "v1",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-apisguru-categories": [
      "analytics",
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
    },
    "x-origin": [
      {
        "format": "google",
        "url": "https://tasks.googleapis.com/$discovery/rest?version=v1",
        "version": "v1"
      }
    ],
    "x-providerName": "googleapis.com",
    "x-serviceName": "tasks",
    "x-vendored-from": "https://api.apis.guru/v2/specs/googleapis.com/tasks/v1/openapi.json",
    "x-vendored-note": "Trimmed by src/providers/google/specs/vendor.ts. Committed deliberately: a spec decides which paths are called with the operator token, so it must be reviewable rather than fetched at connect time."
  },
  "servers": [
    {
      "url": "https://tasks.googleapis.com/"
    }
  ],
  "paths": {
    "/tasks/v1/lists/{tasklist}/tasks": {
      "get": {
        "description": "Returns all tasks in the specified task list.",
        "operationId": "tasks.tasks.list",
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
            "in": "query",
            "name": "completedMax",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
            "in": "query",
            "name": "completedMin",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
            "in": "query",
            "name": "dueMax",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
            "in": "query",
            "name": "dueMin",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of task lists returned on one page. Optional. The default is 20 (max allowed: 100).",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Token specifying the result page to return. Optional.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Flag indicating whether completed tasks are returned in the result. Optional. The default is True. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps.",
            "in": "query",
            "name": "showCompleted",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.",
            "in": "query",
            "name": "showDeleted",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
            "in": "query",
            "name": "showHidden",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
            "in": "query",
            "name": "updatedMin",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ]
          }
        ],
        "tags": [
          "tasks"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ],
      "post": {
        "description": "Creates a new task on the specified task list.",
        "operationId": "tasks.tasks.insert",
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. Optional.",
            "in": "query",
            "name": "parent",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
            "in": "query",
            "name": "previous",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Task"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasks"
        ]
      }
    },
    "/tasks/v1/lists/{tasklist}/tasks/{task}": {
      "delete": {
        "description": "Deletes the specified task from the task list.",
        "operationId": "tasks.tasks.delete",
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Task identifier.",
            "in": "path",
            "name": "task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasks"
        ]
      },
      "get": {
        "description": "Returns the specified task.",
        "operationId": "tasks.tasks.get",
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Task identifier.",
            "in": "path",
            "name": "task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ]
          }
        ],
        "tags": [
          "tasks"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ],
      "patch": {
        "description": "Updates the specified task. This method supports patch semantics.",
        "operationId": "tasks.tasks.patch",
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Task identifier.",
            "in": "path",
            "name": "task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Task"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasks"
        ]
      }
    },
    "/tasks/v1/lists/{tasklist}/tasks/{task}/move": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ],
      "post": {
        "description": "Moves the specified task to another position in the task list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks.",
        "operationId": "tasks.tasks.move",
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Task identifier.",
            "in": "path",
            "name": "task",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "New parent task identifier. If the task is moved to the top level, this parameter is omitted. Optional.",
            "in": "query",
            "name": "parent",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. Optional.",
            "in": "query",
            "name": "previous",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasks"
        ]
      }
    },
    "/tasks/v1/users/@me/lists": {
      "get": {
        "description": "Returns all the authenticated user's task lists.",
        "operationId": "tasks.tasklists.list",
        "parameters": [
          {
            "description": "Maximum number of task lists returned on one page. Optional. The default is 20 (max allowed: 100).",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Token specifying the result page to return. Optional.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ]
          }
        ],
        "tags": [
          "tasklists"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ],
      "post": {
        "description": "Creates a new task list and adds it to the authenticated user's task lists.",
        "operationId": "tasks.tasklists.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasklists"
        ]
      }
    },
    "/tasks/v1/users/@me/lists/{tasklist}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        }
      ],
      "patch": {
        "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
        "operationId": "tasks.tasklists.patch",
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The response body is returned verbatim."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasklists"
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "alt": {
        "description": "Data format for response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Task": {
        "properties": {
          "completed": {
            "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.",
            "type": "string"
          },
          "deleted": {
            "description": "Flag indicating whether the task has been deleted. The default is False.",
            "type": "boolean"
          },
          "due": {
            "description": "Due date of the task (as a RFC 3339 timestamp). Optional. The due date only records date information; the time portion of the timestamp is discarded when setting the due date. It isn't possible to read or write the time that a task is due via the API.",
            "type": "string"
          },
          "etag": {
            "description": "ETag of the resource.",
            "type": "string"
          },
          "hidden": {
            "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.",
            "type": "boolean"
          },
          "id": {
            "description": "Task identifier.",
            "type": "string"
          },
          "kind": {
            "description": "Type of the resource. This is always \"tasks#task\".",
            "type": "string"
          },
          "links": {
            "description": "Collection of links. This collection is read-only.",
            "items": {
              "properties": {
                "description": {
                  "description": "The description. In HTML speak: Everything between <a> and </a>.",
                  "type": "string"
                },
                "link": {
                  "description": "The URL.",
                  "type": "string"
                },
                "type": {
                  "description": "Type of the link, e.g. \"email\".",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "notes": {
            "description": "Notes describing the task. Optional.",
            "type": "string"
          },
          "parent": {
            "description": "Parent task identifier. This field is omitted if it is a top-level task. This field is read-only. Use the \"move\" method to move the task under a different parent or to the top level.",
            "type": "string"
          },
          "position": {
            "description": "String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). This field is read-only. Use the \"move\" method to move the task to another position.",
            "type": "string"
          },
          "selfLink": {
            "description": "URL pointing to this task. Used to retrieve, update, or delete this task.",
            "type": "string"
          },
          "status": {
            "description": "Status of the task. This is either \"needsAction\" or \"completed\".",
            "type": "string"
          },
          "title": {
            "description": "Title of the task.",
            "type": "string"
          },
          "updated": {
            "description": "Last modification time of the task (as a RFC 3339 timestamp).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TaskList": {
        "properties": {
          "etag": {
            "description": "ETag of the resource.",
            "type": "string"
          },
          "id": {
            "description": "Task list identifier.",
            "type": "string"
          },
          "kind": {
            "description": "Type of the resource. This is always \"tasks#taskList\".",
            "type": "string"
          },
          "selfLink": {
            "description": "URL pointing to this task list. Used to retrieve, update, or delete this task list.",
            "type": "string"
          },
          "title": {
            "description": "Title of the task list.",
            "type": "string"
          },
          "updated": {
            "description": "Last modification time of the task list (as a RFC 3339 timestamp).",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "Oauth2": {
        "description": "Oauth 2.0 implicit authentication",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/tasks": "Create, edit, organize, and delete all your tasks",
              "https://www.googleapis.com/auth/tasks.readonly": "View your tasks"
            }
          }
        },
        "type": "oauth2"
      },
      "Oauth2c": {
        "description": "Oauth 2.0 authorizationCode authentication",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/tasks": "Create, edit, organize, and delete all your tasks",
              "https://www.googleapis.com/auth/tasks.readonly": "View your tasks"
            },
            "tokenUrl": "https://accounts.google.com/o/oauth2/token"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
